// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.app {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}

.input-group {
    flex-wrap: unset;
}
