//#calendar {
//    height: 50%;
//}

.add-calendar-event-wrap {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-bottom: 1rem;
    & .fa-calendar-o {
        color: #ffffff;
    }
    & button {
        border-radius: 0.35rem;
        background-color: #0f6cbd;
        border-color: #0f6cbd;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.13s ease-in-out;
        & span {
            color: #ffffff;
        }
        &:hover {
            background-color: #0f548c;
            border-color: #0f548c;
        }
    }
}

#calendarEventAddModal {
    & .modal-body {
        & label {
            position: unset;
        }
        & .event-title-wrap {

        }
        & .event-start-wrap, .event-end-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1rem;
        }
    }
}
