.calendar-navbar {
    display: flex;
    flex-direction: row;
}
.event-create-wrap {
    display: flex;
    justify-content: space-between;
}
.content-calendar {
    display: flex;
    flex-direction: row;
    & table {
        width: 40%;
        & tr {
            & .event-summary {
                pointer-events: none;
                & .event-link-wrap {
                    width: 60%;
                }
                & a {
                    pointer-events: all;
                }
            }
            & .action-buttons-wrap {
                display: flex;
                font-size: 1.2rem;
                & .event-delete-button, .event-update-button {
                    background-color: unset;
                    border: unset;
                    transition: .15s;
                    &:hover {
                        color: #0a58ca;
                    }
                }
            }
        }
    }
    & iframe {
        width: 100%;
    }
}

.add-calendar-event-wrap {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-bottom: 1rem;
    & .fa-calendar-o {
        color: #ffffff;
    }
    & button {
        border-radius: 0.35rem;
        background-color: #0f6cbd;
        border-color: #0f6cbd;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.13s ease-in-out;
        & span {
            color: #ffffff;
        }
        &:hover {
            background-color: #0f548c;
            border-color: #0f548c;
        }
    }
}

#calendarEventAddModal, .event-edit-modal {
    & .modal-body {
        & label {
            position: unset;
        }
        & input {
            padding: unset;
        }
        & .event-location-wrap, .event-description-wrap {
            margin-top: 1rem;
            & input {
                padding: 10px;
                font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
            }
        }
        .event-description-wrap {
            & textarea {
                width: 100%;
            }
        }
        & .event-start-wrap, .event-end-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 1rem;
        }
    }
}
