.content-container {
    display: flex;
    justify-content: space-evenly;
}
.courses-container {

}
.course-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding-right: 2rem;
    & li {
        padding: 5px;
    }
}
.course-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: .35rem;
    padding: 12px 24px 12px;
    box-shadow: 0 0 5px 0 rgb(53 54 53 / 30%);
    -webkit-transition: all .4s cubic-bezier(.22,.84,.33,1.04);
    -o-transition: all .4s cubic-bezier(.22,.84,.33,1.04);
    transition: all .4s cubic-bezier(.22,.84,.33,1.04);
    & a {
        text-decoration: none;
        cursor: pointer;
    }
    &:hover {
        -webkit-box-shadow: 0 0 20px 0 rgb(53 54 53 / 30%);
        box-shadow: 0 0 20px 0 rgb(53 54 53 / 30%);
        img {
            transition: transform .2s;
            transform: scale(1.2);
        }

    }
}
.course-image {
    position: relative;
    width: 100%;
    object-fit: contain;
    border: 1px solid #c2c2c2;
    border-radius: .35rem;
    overflow: clip;
    & img {
        width: 313px;
        height: 160px;
    }
}
.course-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    pointer-events: none;
    padding: .5rem 0 0 0;
    z-index: 10;
}
.course-tag {
    display: block;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 8px;
    background: #ffffff;
    border: 1px solid #ffd500;
    color: #ffd500;
}
.course-title {
    display: flex;
    justify-content: center;
    width: 315px;
    height: 85px;
}
.course-creator {
    display: flex;
    font-size: .8rem;
}
.course-rating {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 0 2rem 0 2rem;
    & .fa-star {
        color: black;
    }
    & .star-checked {
        color: orange;
    }
    & p {
        font-size: .8rem;
        margin: 0;
    }
}
.course-join {
    margin-top: 1rem;
    & button {
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: .35rem;
        background-color: #858796;
        border-color: #858796;
        transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .13s ease-in-out;
    }
    & span {
        color: #ffffff;
    }
    & button:hover {
        background-color: #4e73df;
    }
}
