.main-body {
    padding: 15px;
}
.catalog-wrap {
    background-color: #f8f8f8;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    //background-color: #f8f8f8;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
    pointer-events: none;
}

.editable {
    pointer-events: all;
}

.disabled-button {
    pointer-events: none;
    background-color: #eaecf4;
}

.user-name-wrap, .user-status-wrap {
    margin-bottom: 1rem;
}

#display-image {
    height: 242px;
    width: 242px;
    border-radius: 50%;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.upload-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 1rem;
    & input {
        display: block;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
        max-width: 100%;
        height: 100%;
        &:hover {
            padding: 8px 20px;
            background: #2e6da4;
            color: #fff;
        }
    }
    & i {
        padding: 8px 20px;
        background: #337ab7;
        border: 1px solid #2e6da4;
        color: #fff;
        z-index: 0;
        &:hover {
            pointer-events: all;
            padding: 8px 20px;
            background: #2e6da4;
            color: #fff;
        }
    }
    & input {
        display: flex;
        max-width: 15%;
        height: 11%;
        pointer-events: all;
    }
}

.profile-input {
    width: 100%;
    background: #ffffff;
    border: 1px solid black;
    padding-left: 1rem;
}

.location-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
    & i {
        font-size: 1.5rem;
    }
}

.profile-action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    & button {
        width: 20%;
        height: 100%;
        transition: 0.15s;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        border-radius: 1rem;
        margin-right: 1rem;
        &:hover {
            background-color: #eaecf4;
        }
    }
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
