.user-course-table {
    padding-right: 4rem;
    padding-left: 2rem;
}
.table-wrapper {
    padding: 1rem;
}
table {
    & .table-header {
        font-size: 2rem;
        text-align: center;
    }
    & .notifier-button {
        margin-top: unset;
    }
    & .action-buttons-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        & a {
            height: 100%;
        }
    }
    & a {
        display: flex;
        justify-content: center;
        width: 40%;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.5rem;
        & i {
            padding-top: .4rem;
            padding-right: 5%;
            color: #ffffff;
            font-size: 1.5rem;
        }
        & span {
            color: #ffffff;
            font-size: 1.5rem;
        }
    }
    & tr {
        & td:last-child {
            display: flex;
            justify-content: center;
        }
    }
    & .progress-bar-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        & .progress {
            display: flex;
            height: 2rem;
            width: 70%;
            & .progress-bar-animated {
                animation: 1s linear infinite progress-bar-stripes;
            }
        }
    }
}
.progress-bar-modal {
    display: none;
}
.bdr {
    border-radius: 6px;
    overflow: hidden;
}
