.user-course-table {
    padding-right: 4rem;
    padding-left: 2rem;
}
.table-wrapper {
    padding: 1rem;
}
.table {
    margin-bottom: 1rem !important;
}
table {
    & .table-header {
        font-size: 2rem;
        text-align: center;
        background-color: #4e73df;
        background-size: cover;
        color: #d2d7f2;
    }
    & .notifier-button {
        margin-top: unset;
    }
    & .action-buttons-wrap {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        & .inspect-button-wrap, .course-enlistment-wrap, .disable-button-wrap, .delete-button-wrap {
            display: flex;
            width: 100%;
        }
        & .processing-button {
            font-size: 1.5rem;
            color: #858796;
        }
        & a {
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
        }
        & form {
            width: 100%;
        }
    }
    & a {
        display: flex;
        width: 100%;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        pointer-events: none;
        & i {
            padding-top: .4rem;
            padding-right: 5%;
            color: #4e73df;
            font-size: 1.5rem;
            pointer-events: all;
            transition: .15s;
            &:hover {
               color: #0f548c;
            }
        }
        & span {
            color: #ffffff;
            font-size: 1.5rem;
        }
    }
    & tr {
        & td:last-child {
            display: flex;
            justify-content: center;
        }
    }
    & .progress-bar-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        & .progress {
            display: flex;
            height: 2rem;
            width: 70%;
            & .progress-bar-animated {
                animation: 1s linear infinite progress-bar-stripes;
            }
        }
    }
}
.progress-bar-modal {
    display: none;
}
.bdr {
    border-radius: 6px;
    overflow: hidden;
}
.table-course-name {
    display: unset;
    color: black;
    pointer-events: all;
    transition: .15s;
    font-weight: normal;
    &:hover {
        color: #4e73df;
    }
}
.process-notifier {
    pointer-events: all;
    transition: .15s;
    & span, i {
        font-size: 1.5rem;
        color: #4e73df;
    }
    &:hover {
        color: #0f548c;
    }
}
.table-switch-wrap {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    & button {
        width: 200px;
        border-radius: 0.35rem;
        background-color: #858796;
        border-color: #858796;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.13s ease-in-out;
        & span {
            font-size: 1.2rem;
            color: #ffffff;
        }
        &:hover {
            background-color: #4e73df;
        }
    }
    .active {
        background-color: #4e73df
    }
}

.fa-star {
    color: #858796;
}

.star-checked {
    color: yellow;
}

.leave-course-button {
    border: unset;
    background-color: unset;
    transition: .15s;
    color: #4e73df;
    & i {
        font-size: 1.5rem;
    }
    &:hover {
        color: #0f548c;
    }
}
